@tailwind base;
@tailwind components;
@tailwind utilities;



.linkHover {
    @apply hover:text-accentBg duration-200;
}

.activeLink {
  @apply text-accentBg
}

html {
  scroll-behavior: smooth;
}

input {
  @apply focus:outline-none focus:ring-black focus:ring-1 focus:border-transparent;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  @apply block w-full border-2 p-2 
}

label.input-label{
  @apply block mt-4 text-xs uppercase font-bold text-gray-400;
}

.submitButton {
  @apply text-xl font-semibold bg-accentBg py-2 px-4 text-white border-2 border-accentBg hover:bg-white hover:text-accentBg duration-200;
}

/* CUBE */

.cube-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-image: url('../assets/images/X.png');
    background-size: cover;
    background-position: center;
  }


.cube {
    width: 200px;
    height: 200px;
    background-color: #3DB4FF;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@media (max-width: 768px) {
    .cube {
        width: 140px;
        height: 140px;
    }

    .container {
        gap: 4px;
    }
}

@keyframes moveAndRotate1 {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(-100px, -100px) rotate(90deg); /* Вверх-влево */
    }
    50% {
      transform: translate(-200px, -200px) rotate(180deg);
    }
    75% {
      transform: translate(-100px, -100px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  @keyframes moveAndRotate2 {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(100px, -100px) rotate(90deg); /* Вверх-вправо */
    }
    50% {
      transform: translate(200px, -200px) rotate(180deg);
    }
    75% {
      transform: translate(100px, -100px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  @keyframes moveAndRotate3 {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(-100px, 100px) rotate(90deg); /* Вниз-влево */
    }
    50% {
      transform: translate(-200px, 200px) rotate(180deg);
    }
    75% {
      transform: translate(-100px, 100px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  @keyframes moveAndRotate4 {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(100px, 100px) rotate(90deg); /* Вниз-вправо */
    }
    50% {
      transform: translate(200px, 200px) rotate(180deg);
    }
    75% {
      transform: translate(100px, 100px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  /* Применение разных анимаций для каждого куба */
  .cube-1 {
    animation-name: moveAndRotate1;
  }
  
  .cube-2 {
    animation-name: moveAndRotate2;
  }
  
  .cube-3 {
    animation-name: moveAndRotate3;
  }
  
  .cube-4 {
    animation-name: moveAndRotate4;
  }



  .advertContainer {
    background-image: url('../assets/images/advertisementimg.png');
    background-size: cover;
    background-position: center;
  }



/* PRELOADER */

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-fade {
  animation: fade 3s infinite;
}

.delay-100 {
  animation-delay: 0.2s;
}

.delay-200 {
  animation-delay: 0.4s;
}

.delay-300 {
  animation-delay: 0.6s;
}

/* SKELETON */

@keyframes blink {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.25;
  }
}

.blinking {
  animation: blink 2s infinite;
}